{% extends 'st19/base.tpl' %}

  {% block content %}

<div>
  <label>{{magic}}</label><br>
  <img width = "600" src ="{{ pos }}" />
  <form><button formaction="{{ selfurl }}/">Назад</button></form>
</div>

  {% endblock %}
